@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Allerta&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #744680;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #4f2a58;
    --cor-hover: #3D4142;

    --font-primaria: 'Urbanist', sans-serif;
    --font-secundaria: 'Allerta', sans-serif;
    --font-terciaria: 'Aclonica', sans-serif;
}

.mensagem-erro {
    color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../assets/cenario.svg');
    background-repeat: repeat-x;
    background-position: top center;
    background-size: contain;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    padding: 2% 15%;
    align-items: center;
    flex-direction: column;
    row-gap: 70px;
    margin-top: 8%;
}

/* HOME */

.cabecalho {
    display: flex;
    justify-content: center;
    padding: 2% 10%;
    align-items: center;
}

.cabecalho__logo {
    max-width: 100px;
    height: auto;
    margin: 0;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cabecalho__menu__link {
    font-family: var(--font-terciaria);
    font-weight: 300;
    font-size: 1.125rem;
    color: var(--cor-secundaria);
    text-decoration: none;
    transition: color 0.3s;
    padding: 14px 20px;
    background-color: var(--cor-primaria);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: -2px 2px var(--cor-secundaria);
    margin-left: 10px;
}

.cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s;
    margin-top: 25%;
}

.cabecalho__menu__link.cta {
    color: white;
    padding: 14px 28px;
    border-radius: 15px;
}

.cta {
    transition: transform 0.3s, opacity 0.3s;
}

.cta:hover {
    transform: scale(1.10);
    background-color: #aa67bb;
}

.cabecalho__menu__link:hover {
    color: var(--cor-terciaria);
}

.titulo-jogo {
    text-align: center;
    color: var(--cor-secundaria);
    font-family: var(--font-terciaria);
    font-weight: 400;
    margin-top: 1%;
}

/* ALGUNS ESTILOS DE TÍTULO E PARÁGRAFO */

h2, h3 {
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

h2::after, h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--cor-terciaria);
    position: absolute;
    bottom: -10px;
    left: 0;
}

.tutorial__texto p {
    font-size: 1.4rem;
}

p {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 1.1rem;
    padding: 10% 5%;
    line-height: 1.5;
}

/* CONTAINERS ROXOS */

.ciencia p, .sobre p {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 1.1rem;
    background-color: var(--cor-terciaria);
    box-shadow: -2px 2px 5px var(--cor-hover);
    transition: transform 0.3s, opacity 0.3s;
    padding: 10% 5%;
    line-height: 1.5;
    border-radius: 10px;
}

.ciencia p:hover, .sobre p:hover {
    transform: scale(1.05);
}

/* SOBRE, TUTORIAL E CIÊNCIA E ALGUMAS COISAS DO TÍTULO FORMULÁRIO */

.sobre, .como-jogar, .ciencia, .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.jogar-titulo, .formulatio-titulo {
    display: flex;
    justify-content: flex-end;
}

.jogar-titulo::after, .formulatio-titulo::after {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--cor-primaria);
    position: absolute;
    bottom: -10px;
    left: 94%;
}

.formulatio-titulo::after {
    left: 90%;
}

.sobre__content, .tutorial-content, .ciencia__content, .formulario__content, .equipe__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
}

.sobre__text, .sobre__images, .tutorial__imagem, .tutorial__texto, .tutorial__video, .ciencia__texto, .ciencia__image, .formulario__texto, .formulario__form, .equipe__texto, .equipe__image {
    flex: 1;
}

.sobre__text, .tutorial__texto, .ciencia__texto, .formulario__texto {
    padding: 10px;
}

.sobre__images, .tutorial__imagem, .ciencia__image {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.sobre img {
    max-width: 40%;
    height: auto;
}

.tutorial-subcontent {
    margin-top: -90px;
}

.tutorial__imagem img {
    max-width: 35%;
    height: auto;
}

.ciencia img {
    max-width: 60%;
    height: auto;
}

.titulo-secao {
    font-size: 2rem;
    width: 100%;
    text-align: left;
}
.tutorial__video {
    margin-left: 10%;
    margin-top: 5%;
}

.como-jogar {
    background-color: var(--cor-terciaria);
    width: 100vw;
    padding: 8% 25%;
    margin: 0;
}

.ciencia__content {
    flex-direction: row-reverse;
    margin-top: 2%;
}

/* FORMULÁRIO */

.formulario {
    background-color: var(--cor-terciaria);
    width: 100vw;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario__titulo::after {
    background-color: var(--cor-primaria);
}

.formulario__content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    align-items: flex-start;
    gap: 10%;
}

.principal__formulario {
    flex: 1;
    background-color: var(--cor-primaria);
    padding: 20px;
    border-radius: 15px;
    box-shadow: -2px 2px 5px var(--cor-hover);
    transition: transform 0.3s, opacity 0.3s;
}

.principal__formulario:hover {
    transform: scale(1.02);
}

.formulario__campo {
    margin-bottom: 15px;
}

.campo__etiqueta {
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--cor-secundaria);
}

.campo__escrita {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-size: 1.1rem;
    color: var(--cor-primaria);
}

.formulario__termos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.termos__input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.termos__texto {
    font-family: var(--font-secundaria);
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.formulario__botao {
    width: 100%;
    padding: 15px;
    font-family: var(--font-terciaria);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.formulario__botao:hover {
    background-color: #aa67bb;
    color: var(--cor-terciaria);
}

.formulario__recuperaSenha {
    display: flex;
    font-family: var(--font-secundaria);
    font-size: 1rem;
    color: var(--cor-secundaria);
    text-decoration: none;
    justify-content: center;
}

.formulario__recuperaSenha:hover {
    text-decoration: underline;
}

.descricao__formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 150px;
}

.imagem__formulario {
    position: relative;
}

.imagem__formulario img {
    max-width: 100%;
    height: auto;
    margin-top: -220px;
    margin-left: 620px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* QUEM É A XP STUDIO */

.equipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas iguais */
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    margin-top: -60px;
}

.equipe__design,
.equipe__front {
    grid-column: 1;
}

.equipe__jogos {
    grid-column: 2;
}

.equipe__dados,
.equipe__back {
    grid-column: 3;
}

.equipe h2 {
    grid-column: 2;
    text-align: center;
}

.equipe h2::after {
    left: 40%;
}

.equipe__titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--cor-secundaria);
}

.equipe p {
    font-family: var(--font-secundaria);
    font-size: 1.1rem;
    color: var(--cor-secundaria);
    padding: 10px 2px;
}

.equipe img {
    max-width: 100px;
    height: auto;
    margin-top: 20px;
    justify-self: center;
    grid-column: 2 / span 1;
    grid-row: 3;
    margin-top: 20px;/
}

/* FOOTER */

.rodape {
    display: flex;
    padding: 24px;
    background-color: var(--cor-hover);
    flex-direction: row;
    justify-content: space-around;
  }

  .rodape .inova {
    max-width: 100px;
    height: auto;
    margin-top: 20px;
  }